:root {
    --main-color: #76c38f;
    --main-text-color: #979797;
    --main-transition: 0.3s;
    --main-padding: 60px;
}
/* Global rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { 
    scroll-behavior: smooth;
}
body {
    font-family: 'Lora', serif;
    background-image: url(../image/main-background-1.jpg);
    background-size: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Global rules */
/* Heading 1200/ 1600*/
.heading {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 5px solid var(--main-color);
    /* background-color: #333; */
    position: relative;
}
.heading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
    background-color: rgb(51 51 51 / 90%);
    z-index: -1;
}
.heading .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .heading .container {
        justify-content: space-around;
    }
    .heading .container .logo {
        margin-bottom: 15px;
    }
}
.heading .container .logo h1 {
    margin: 0;
}
.heading .container .logo h1 a {
    margin: 0;
    font-size: 28px;
    color: white;
}
.heading .container .logo p {
    font-size: 11px;
    color: var(--main-text-color);
}
.heading .container .main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}
.heading .container .main-menu li {
    margin-left: 6px;
}
@media (max-width: 991px) {
    .heading .container .main-menu li {
        margin-left: 6px;
    }
}
.heading .container .main-menu li a {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.heading .container .main-menu li a:hover {
    background-color: var(--main-color);
}
/* Heading */
/* Landing */
.landing {
    padding-bottom: var(--main-padding);
    position: relative;
}
.landing::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
    background-color: rgb(51 51 51 / 90%);
    z-index: -1;
}
.landing .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
    }
}
.landing .container .text {
    flex: 1;
    padding: 60px;
}
@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .landing .container .text {
        padding: 20px;
    }
}
.landing .container .text h2 {
    font-size: 46px;
    max-width: 310px;
    margin-bottom: 15px;
    color: white;
}
@media (max-width: 991px) {
    .landing .container .text h2 {
        font-size: 40px;
        max-width: none;
    }  
}
.landing .container .text p {
    font-size: 13px;
    color: var(--main-text-color);
    max-width: 400px;
    line-height: 1.8;
    margin-bottom: 15px;
}
@media (max-width: 991px) {
    .landing .container .text p {
        margin-bottom: 25px;
        max-width: none;
    }
}
.landing .container .text a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 6px;
    display: block;
    width: fit-content;
    margin: 10px AUTO;
}
.landing .container .image {
    width: 400px;
    margin-right: 60px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .landing .container .image {
        margin-right: 0;
    }
}
.landing .container .image img {
    max-width: 100%;
    border-radius: 50%;
    border: 25px solid #6b6b6b;
}
.landing .container .left-s,
.landing .container .right-s {
    color: var(--main-color);
    font-size: 35px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.landing .container .left-s {
    left: 5px;
}
.landing .container .right-s {
    right: 5px;  
}
/* Landing */
/* Services */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.services::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
    background-color: rgb(51 51 51 / 20%);
    z-index: -1;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    position: relative;
}
.services .container::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -58px;
    border-bottom: 3px solid #303030;
    width: calc(100% - 30px);
}
.services .container::after {
    content: "Lastet work";
    position: absolute;
    background-color: #303030;
    left: 50%;
    bottom: -85px;
    color: white;
    font-size: 32px;
    padding: 10px 15px;
    border-radius: 6px;
    text-transform: uppercase;
    transform: translateX(-50%);
}
@media (max-width: 767px) {
    .services .container::after {
        bottom: -80px;
        font-size: 24px;
    }
}
.services .container .box {
    background-color: white;
    padding: 30px 20px;
    text-align: center;
    transition: var(--main-transition);
}
.services .container .box:hover {
    background-color: var(--main-color);
}
.services .container .box img {
    width: 120px;
    height: 120px;
    filter: grayscale(1);
    transition: var(--main-transition);
}
.services .container .box:hover img {
    filter: drop-shadow(2px 4px 6px black);
}
.services .container .box h3 {
    font-size: 32px;
    margin: 20px 0;
    color: var(--main-text-color);
    transition: var(--main-transition);
}
.services .container .box p {
    line-height: 1.4;
    color: var(--main-text-color);
    transition: var(--main-transition);
}
.services .container .box:hover p,
.services .container .box:hover h3 {
    color: white;
}
/* Services */
/* gallery */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.gallery::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
    background-color: rgb(51 51 51 / 20%);
    z-index: -1;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.gallery .container .box {
    padding: 5px;
    background-color: white;
    transition: var(--main-transition);
}
.gallery .container .box:hover {
    background-color: var(--main-color);
}
.gallery .box .image {
    overflow: hidden;
    position: relative ;
}
.gallery .box .image:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    background-color: rgb(255 255 255 / 20%);
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flash 0.7s;
}
.gallery .box .image:after {
    content: "lorem Ipsum Dolor";
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgb(0 0 0 / 60%);
    left: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    transition: var(--main-transition);
    opacity: 1;
}
.gallery .box .image:hover:after {
    opacity: 0;
}
.gallery .box .image img {
    max-width: 100%;
    transform: scale(1.1);
    transition: var(--main-transition);
    filter: grayscale();
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.2);
    filter: none;
}
/* gallery */
/* Footer */
.footer {
    padding-top: var(--main-padding);
    background-color: #303030;
    border-bottom: 1px solid black;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.footer .one {
    color: white;
}
.footer .box {
    padding-bottom: 60px;
}
.footer .box h3 {
    margin: 0 0 35px;
    color: white;
    font-weight: normal;
}
.footer .one h4 {
    color: var(--main-color);
    margin: 0 0 20px;
}
.footer .one div {
    font-size: 13px;
    color: var(--main-text-color);
    margin-bottom: 15px;
}
.footer .one span:first-child {
    font-size: 16px;
    color: var(--main-color);
    display: inline-block;
    margin-bottom: 15px;
}
.footer .one span:nth-child(2) {
    color: var(--main-text-color);
}
.footer .one p {
    color: var(--main-text-color);
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.6;
}
.footer .one a {
    color: var(--main-color);
}
.footer .two ul li {
    padding: 10px 0;
}
.footer .two ul li:not(:last-child) {
    border-bottom: 1px solid #404040;
}
.footer .two ul li a {
    color: var(--main-color);
    position: relative;
    margin-left: 25px;
    transition: var(--main-transition);
}
.footer .two ul li a::before {
    content: "\f101";
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    left: -25px;
}
.footer .two ul li a:hover {
    margin-left: 35px;
}
.footer .three p {
    color: var(--main-text-color);
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.6;
}
.footer .three p span {
    color: var(--main-color);
}
.footer .four form .input {
    color: #989898;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #222222;
    border: none;
}
.footer .four form .input:focus {
    outline: none;
}
.footer .four form textarea {
    resize: none;
    height: 80px;
}
.footer .four form [type="submit"] {
    background-color: var(--main-color);
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-transform: capitalize;
    color: #303030;
}
.copy {
    background-color: #303030;
    background-color: #303030;
}
.copy .container {
    display: flex;
    justify-content: space-between;
    color: var(--main-text-color);
    height: 60px;
    align-items: center;
}
@media (max-width: 767px) {
    .copy .container {
        flex-direction: column;
        font-size: 14px;
        justify-content: space-around;
    }
}
/* Footer */
@keyframes flash {
    0%, 
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}